
<div class="card border-primary mb-3 w-100 contributors">
    <div class="card-header">Contributors</div>
    <ul class="list-group list-group-flush">            
        {% for contributor in site.github.contributors | sort: 'contributions', 'last' %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <a href="{{  contributor.html_url  }}" target="_blank">
                    <img src="{{ contributor.avatar_url }}" alt="{{ contributor.login }}" class="rounded" />
                </a> 
                <a href="{{  contributor.html_url  }}" target="_blank">
                    {{ contributor.login }}
                </a>
            </div>
            <a href="{{  contributor.html_url  }}" target="_blank">
                <span class="badge badge-primary">{{ contributor.contributions }}</span>
            </a>
        </li>  
        {% endfor %}          
    </ul>        
</div>