<footer class="bg-dark text-white py-3 mt-3">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <span>
                    <a href="https://dnncommunity.org" target="_blank" class="text-white">
                        By and for the<img src="{{ '/assets/images/DnnLogo_Reversed.svg' | relative_url }}"
                            alt="Dnn Logo"
                            style="max-width: 70px;position: relative;top: -2px;margin: 0 0.5rem;" />Community
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>