<header class="bg-dark text-white">
    <div class="container">
        <div class="row py-3">
            <div class="col-4 col-md-3 col-lg-2">
                <img src="{{ '/assets/images/DnnLogo_Reversed.svg' | relative_url }}" alt="Dnn Logo" class="img-fluid d-block mx-auto"/>
                <h2 class="text-white text-center mt-3 pb-0" style="opacity: 1;">
                    Community
                </h2>
            </div>
            <div class="col-8 col-md-7 col-lg-10">
                <h1 class="text-white text-center">_ModuleName_ Module</h1>
            </div>
        </div>
    </div>
</header>