<div class="sticky-top pt-3">
    <div class="d-none d-md-block">
        {% include sidemenu.html %}
    </div>
    <a href="{{ site.github.releases_url }}" class="btn btn-primary w-100 mb-3">
        <i class="fas fa-download"></i>&nbsp;Download
    </a>
    <a href="{{ site.github.issues_url }}" class="btn btn-primary w-100 mb-3">
        <i class="fas fa-exclamation-circle"></i>&nbsp;Repport an issue
    </a>
    <a href="{{ site.github.repository_url }} " class="btn btn-primary w-100 mb-3">
        <i class="fab fa-github"></i>&nbsp;Contribute
    </a>
    <a href="{{ site.github.repository_url }}/edit/{{ site.github.source.branch }}/docs/{{ page.path }}" class="btn btn-primary w-100 mb-3">
        <i class="fas fa-pen"></i>&nbsp;Improve this page
    </a>
    {% include contributors.html %}
</div>