<div class="card border-primary mb-3 w-100 side-navigation">
    <div class="card-header">Documentation</div>
    <div class="list-group">
        {% assign links = site.data.navigation %}
        {% for link in links}
            {% assign class = nil %}
            {% if page.url contains link.url or (forloop.first and page.path contains 'index.md') %}
                {% assign class = 'active' %}
            {% endif %}
            {% if link.sublinks %}
                <div class="list-group-item-light p-2">
                    {{ link.title }}
                </div>
                {% for sublink in link.sublinks %}
                    {% assign subclass = nil %}
                    {% if page.url contains sublink.url %}
                        {% assign subclass = 'active' %}
                    {% endif %}
                    <a href="{{ site.baseurl }}{{ sublink.url }}" class="list-group-item {{ subclass }}">{{ sublink.title }}</a>
                {% endfor %}
            {% else %}
            <a href="{{ site.baseurl }}{{ link.url }}" class="list-group-item {{ class }}">{{ link.title }}</a>
            {% assign class = nil %}
            {% endif %}
        {% endfor %}
    </div>
</div>