h1, h2, h3{
    color: theme-color('dark');
}

h1{font-weight: bold;}

h2, h3{opacity: 0.7;}

h3, h4{text-transform: uppercase;}

.side-navigation ul {list-style-type: none; padding-left:1em; }

.side-navigation a.active {font-weight: bold;}

// ensure images are not shown larger than available space
.docs-content img{max-width:100%;}

.card-header {
    background-color: theme-color('dark');
    color: #fff;
    font-weight: bold;
}
.list-group-item {
    padding: 0.5rem 1.25rem;
    border-width: 0px;
}
.list-group-item:hover {
    background-color: #f8f9fa;
    color: theme-color('primary');
    font-weight: normal;
}
.list-group-item.active {
    background-color: theme-color('lighter');
    color: theme-color('primary');
    font-weight: normal;
    border-width: 0px;
}
.list-group-item-light {
    font-weight: bold;
    background-color: theme-color('light');
}
  